<div class="control-container">

  <div class="date-select-control">

    <div class="prev"
         (click)="sendNextDateDirection('prev')"
    >
      <
    </div>
    <div class="selected-date">
      {{ selectedDateView$ | async}}
    </div>
    <div class="next"
         (click)="sendNextDateDirection('next')"
    >
      >
    </div>

  </div>

  <div class="toggle-month-week">
    <div class="month"
         routerLink="calendar/month"
         routerLinkActive="active"
         (click)="selectDateType('month')"
    >
      월
    </div>
    <div class="week"
         routerLink="calendar/week"
         routerLinkActive="active"
         (click)="selectDateType('week')"
    >
      주
    </div>
  </div>
</div>
